http_port {$HTTP_LISTEN_PORT}
https_port {$HTTPS_LISTEN_PORT}}

{$LISTEN_HOST}:{$LISTEN_PORT} {
	basic_auth {$MATCHER} {$HASH_ALGO} {$REALM} {
		{$BASIC_USER} {$BASIC_PW}
	}
	reverse_proxy {$SERVICE_HOST}:{$SERVICE_PORT}
}